################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bin/Debug
*.sdf
*.suo
*.opensdf
/WrappersNET/MathLibNETTest/obj/Debug
/WrappersNET/StringLibNET/obj/Debug
/WrappersNET/MathLibNETTest/bin/Debug
/WrappersNET/MathLibNET/obj/Debug
/Native/MathLib/Debug
/Native/StringLib/Debug
/Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ipch/mythdll-d6f8a8b7
/Console/obj/Debug/Console.exe
/Console/obj/Debug/Console.pdb
/Console/obj/Debug/Console.csprojResolveAssemblyReference.cache
/Console/obj/Debug
/StringLibNETTest/bin/Debug
/StringLibNETTest/obj/Debug
/WrappersNET/StringLibNETTest/bin/Debug
/ipch/stringlib-5da2ee54
/WrappersNET/StringLibNETTest/obj/Debug
/ipch/mathlib-dadcce3a
/ipch/mathlibtest-2280797a
/Native/MathLibTest/Debug
